<section class="about-section w-100-percent">
    <div class="about-section-wrap center-container pad">
        <div class="text-container">
            <h3 class="title" animate>about app</h3>
            <p animate>
                With “Be Productive” You have the option to create folders (Projects) and task within them. “Be Productive” track time for your tasks and count time for the whole project. With a premium account and have to sync your data on phone, browser and soon on a desktop. But you can always download and save your data locally on your machine.
            </p>
            <a class="small-blank-btn dark-blue" href="" animate>read about app idea</a>
        </div>
        <div class="img-container">
            <img src="{{site.baseurl}}/assets/img/phone-black.svg" alt="{{site.title}} | Phone App" animate>
        </div>
    </div>
</section>