<section class="about-section w-100-percent">
    <div class="about-section-wrap center-container pad">
        <div class="text-container">
            <h3 class="title" animate>about app</h3>
            <p animate>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor elit a auctor rhoncus. Nam tristique tempus rhoncus. Aenean consequat lacus et felis fringilla, et pellentesque sapien placerat. </p>
            <a class="small-blank-btn dark-blue" href="" animate>read about app idea</a>
        </div>
        <div class="img-container">
            <img src="{{site.baseurl}}/assets/img/phone-black.svg" alt="{{site.title}} | Phone App" animate>
        </div>
    </div>
</section>