<section class="advantages-section w-100-percent">
    <div class="mw-1000-px center-container pad">
        <div class="title-wrap">
            <h3 class="title" animate >advantages</h3>
        </div>
        <div class="list-wrap">
            <div class="adv" animate>
                <img src="{{site.baseurl}}/assets/img/happy-thumb.svg" alt="{{site.title}} | Happy customers">
                <p>Very easy to use, no need to overcome complex UI.</p>
            </div>
            <div class="adv" animate>
                <img src="{{site.baseurl}}/assets/img/responsive-thumb.svg" alt="{{site.title}} | Happy customers">
                <p>Synchronization cross all platforms so you can track time easier.</p>
            </div>
            <div class="adv" animate>
                <img src="{{site.baseurl}}/assets/img/price-thumb.svg" alt="{{site.title}} | Happy customers">
                <p>The best price and quality ratio for commercial app.</p>
            </div>
            <div class="adv" animate>
                <img src="{{site.baseurl}}/assets/img/money-thumb.svg" alt="{{site.title}} | Happy customers">
                <p>Always free for self-hosted users. Just pull from GitHub.</p>
            </div>
        </div>
    </div>
</section>