<section class="hero-section">
    <div class="clouds"></div>
    <div class="bgc-wrap">
        <div class="bgc-pink"></div>
        <div class="bgc-blue"></div>
    </div>
    <div class="cta-section">
        <div class="img-wrap">
            <img class="hero-img" src="{{site.baseurl}}/assets/img/hero-phone.png" alt="{{site.title}} | Time tracker for Smartphone">
        </div>
        <div class="text-wrap">
            <h1>This app will change your life.</h1>
            <div class="buttons">
                <a class="button pink" href="">CHANGE LIFE</a>
                <a class="blank-button pink" href="">ABOUT</a>
            </div>
    </div>
    </div>
</section>