<section class="testimonials-section w-100-percent">

    <div class="mw-1000-px center-container pad">
        <div class="title-wrap">
            <h3 class="title" animate>people said about app</h3>
        </div>
            <div class="testimonials-container" animate>
                <div class="controls">
                    <div class="prev" ></div>
                    <div class="next" ></div>
                </div>
                <div class="testimonials-wrap">
                <div class="testimonial active" >
                    <p class="words">"It’s a real relif to have this app, It’s realy easy to track time and stay organaized inside project."</p>
                    <div class="man">
                        <div class="img woman"></div>
                        <div class="text">
                            <p class="name">Victoria Butler</p>
                            <p class="title">CEO at Family Gay</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial" >
                    <p class="words">"Excellent and good looking app. It's very easy to use."</p>
                    <div class="man">
                        <div class="img man"></div>
                        <div class="text">
                            <p class="name">John Snow</p>
                            <p class="title">Young and Talented Warrior</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial" >
                    <p class="words">"For the first time in my life, I have App that is so simple and yet so great."</p>
                    <div class="man">
                        <div class="img monk"></div>
                        <div class="text">
                            <p class="name">Adrian Monk</p>
                            <p class="title">Successfull Detective</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>