<div class="mobile-header">
 <nav class="mobile-navigation">
  <a href="{{site.baseurl}}/about/" class="{% if page.url =='/o-nama/' %}current-page{% endif %}">About</a>
  <a href="{{site.baseurl}}/contact/" class="{% if page.url =='/kontakt/' %}current-page{% endif %}">Contact us</a>
  <a href="https://github.com/johnofficial/time-tracker" target="_blank" class="{% if page.url =='/o-nama/' %}current-page{% endif %}">GitHub</a>
 </nav>
</div>
<header class="site-header w-100-percent">
 <div class="mobile-nav-toggle">
  <span></span>
 </div>

 <div class="mw-1000-px center-container pad">
  <div class="header-logo"><a href="{{site.baseurl}}/">be productive</a></div>
  <nav class="header-navigation">
   <div class="nav-wrap">
    <a href="{{site.baseurl}}/about/" class="{% if page.url =='/o-nama/' %}current-page{% endif %}">About</a>
    <a href="{{site.baseurl}}/contact/" class="{% if page.url =='/kontakt/' %}current-page{% endif %}">Contact us</a>
    <a href="https://github.com/johnofficial/time-tracker" target="_blank" class="{% if page.url =='/o-nama/' %}current-page{% endif %}">GitHub</a>
   </div>
  </nav>
 </div>
 <div class="mobile-logo"><a href="{{site.baseurl}}/" >be productive</a></div>

</header>
